@model List<LecturePost>
@{
    ViewData["Title"] = "Wait Admin Response";
    Layout = "_AdminLayout";
}


<h1 class="text-center"> Please wait</h1>
<p class="text-center fw-bold"> Admin Review Your data and your Dashboard should be done soon</p>