@model AdminListPropertiesViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container py-5 my-5">
    <a class="btn btn-primary" asp-action="NewRegisters">new registers @Model.RegistersCount</a>
</div>
